[Unit]
Description=the house irrigation controller
After=network-online.target houseportal.service houseclock.service
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=50s
Environment="HTTPOPTS=" "HOUSEOPTS=" "OTHEROPTS=" "OPTS="
EnvironmentFile=-/etc/default/housegeneric
EnvironmentFile=-/etc/default/housesprinkler
EnvironmentFile=-/etc/sysconfig/housegeneric
EnvironmentFile=-/etc/sysconfig/housesprinkler
ExecStart=/usr/local/bin/housesprinkler $HTTPOPTS $HOUSEOPTS $OTHEROPTS $OPTS

[Install]
WantedBy=multi-user.target

