
.sprkrbuttons {
   font-family:'Metrophobic', sans-serif;
   text-align: right;
   width: 50%;
   display: inline-table;
   float: right
}

.sprkrlargeside {
   font-family:'Metrophobic', sans-serif;
   text-align: left;
   width: 54%;
   display: inline-table;
   float: right;
}

.sprkrmenu {
   font-family:'Metrophobic', sans-serif;
   text-align: right;
   color: blue;
   width: 45%;
   display: inline-table;
   float: right;
}

.addbutton {
   font-family:'Metrophobic', sans-serif;
   font-weight: 700;
   font-size: 20px;
   text-align: left;
   text-decoration: none;
   width: 100%;
   height: 30px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   -webkit-border-top-left-radius: 0px;
   -webkit-border-bottom-left-radius: 0px;
   -webkit-border-top-right-radius: 0px;
   -webkit-border-bottom-right-radius: 0px;
   -moz-border-top-left-radius: 0px;
   -moz-border-bottom-left-radius: 0px;
   -moz-border-top-right-radius: 0px;
   -moz-border-bottom-right-radius: 0px;
   background-color: #3673ad;
   border: 0;
   color: #f5f5f5;
   float: left;
}

.configbuttonwithadd {
   font-family:'Metrophobic', sans-serif;
   font-weight: 700;
   font-size: 20px;
   text-align: right;
   text-decoration: none;
   width: 100%;
   height: 30px;
   border-top-left-radius: 0px;
   border-bottom-left-radius: 0px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   -webkit-border-top-left-radius: 0px;
   -webkit-border-bottom-left-radius: 0px;
   -webkit-border-top-right-radius: 0px;
   -webkit-border-bottom-right-radius: 0px;
   -moz-border-top-left-radius: 0px;
   -moz-border-bottom-left-radius: 0px;
   -moz-border-top-right-radius: 0px;
   -moz-border-bottom-right-radius: 0px;
   background-color: #3673ad;
   border: 0;
   color: #f5f5f5;
   float: right;
}

.configactionbutton {
   font-family:'Metrophobic', sans-serif;
   font-weight: 700;
   font-size: 20px;
   text-align: right;
   text-decoration: none;
   width: 100%;
   height: 40px;
   border-top-left-radius: 11px;
   border-bottom-left-radius: 11px;
   border-top-right-radius: 0px;
   border-bottom-right-radius: 0px;
   -webkit-border-top-left-radius: 11px;
   -webkit-border-bottom-left-radius: 11px;
   -webkit-border-top-right-radius: 0px;
   -webkit-border-bottom-right-radius: 0px;
   -moz-border-top-left-radius: 11px;
   -moz-border-bottom-left-radius: 11px;
   -moz-border-top-right-radius: 0px;
   -moz-border-bottom-right-radius: 0px;
   background-color: #3673ad;
   color: #f5f5f5;
   border: 3px solid #F6F6F6;
}

.zonetable {width: 100%; text-align: left}
.zoneindex {width: 10%; text-align: right}
.zonename {width: 90%; text-align: right}

input[type=text], input[type=number] {
   font-family:'Metrophobic', sans-serif;
   font-weight: 500;
   font-size: 20px;
   border: 2px solid #3673ad;
   padding: 5px;
   border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
}

